*.suo
*.csproj.user
*.DotSettings.user
*.ReSharper
_ReSharper*
*.dotCover
*.orig
*.ncrunchproject*
*.ncrunchsolution*
_NCrunch_*
bin/
obj/
Debug/
Release/
ClientBin/
testResults/
specfailures*
packages/
tools/**/*.log
*.log
/.vs/
node_modules/
